# ignore config file. different on each machine
# .vale.ini
.gitmodules
native/vale-native.exe

# ignore styles that vale can manage as packages
styles/.vale-config/
styles/alex/
styles/google/
styles/Hugo/
styles/Joblint/
styles/microsoft/
styles/Openly/
styles/proselint/
styles/Mailchimp/
styles/Readability/
styles/write-good/
